<p>progress works!</p>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title"> Barra d eprogreso</h3>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                    aria-valuenow="10"  aria-valuemin="0" aria-valuemax="100" [style.width]="porcentaje1 + '%'"></div>
                </div>
<br>

<div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
        aria-valuenow="10"  aria-valuemin="0" aria-valuemax="100" [style.width]="porcentaje2 + '%'"></div>
    </div>

            </div>

        </div>

    </div>

</div>


<!--  -->

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                    <app-iincrementador  Leyenda="olaaa"  (cambio2000)="emicion1($event)"   ></app-iincrementador>
            </div>
        </div>

    </div>

    <div class="col-6">
            <div class="card">
                <div class="card-body">
                   <!--  -->
                   <!-- <app-iincrementador (cambio2000)="emicion2($event)"   ></app-iincrementador> -->
                   <!--  -->
                   <app-iincrementador  Leyenda="olaaa"  (cambio2000)="emicion2($event)"   ></app-iincrementador>
                  
                </div>
            </div>
        </div>
</div>